target/*
!target/*.jar
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

.git/
.gitignore
.gitattributes

.DS_Store
Thumbs.db

HELP.md
README.md
*.md

*.log
logs/

flyway/repair.sh
